section > section > div {
  /* display: none !important; */
  border: 31px solid rgba(0, 0, 0, 0.3) !important;
  box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 0px 8px inset !important;
  width: 102% !important;
  height: 95% !important;
  top: 1px !important;
}
